Package: com.hotpotcat.alipayhook
Name: AlipayHook
Architecture: iphoneos-arm
Description: 逆向支付宝
Maintainer: ZP
Author: ZP
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.2-11+debug
Installed-Size: 144
